@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
 margin:0;
 padding:0;
}

.container{
   background: url();
   height:100vh;
   background-size:100% 100%;
}
   
.container .navbar{
   width:100%;
   height:80px;
   background:rgba(22,112,214,0.4)
}

.navbar.BARAN{
    display:inline-block;
    margin-left:70px;
     margin-top:20px;
}

.navbar.BARAN a{
    text-decoration:none;
    font-size: 30px;
    font-family:sans-serif;
    color:#f3f3f3;
}

.navbar ul{
    float:right;
    margin-right:20px;
}

.navbar ul li{
   list-style: none;
   display:inline-block;
   margin:0 8px;
   line-height: 80px;
}

.navbar ul li a{
   color: white;
   text-decoration: none;
   font-size:20px;
   padding:6px 13px;
   font-family:Roboto;
   transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
   background:#ff6e00;
   border-radius:2px;
}

.container .center{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   font-family: sans-serif;
   user-select: none;
}

.center h1{
   color: black;
   font-size:60px;
   font-weight: bold;
   width:900px;
   text-align: center;
}

.center h2{
   color: #fff;
   font-size:50px;
   font-weight: bold;
   width: 885px;
   margin-top:10px;
   text-align:center;
}

.center .buttons{
   margin:35px 280px;
}

.buttons button{
   height:50px;
   width:150px;
   font-size: 18px;
   font-family: bold;
   color: #ffb3b3;
   background: rgb(207, 88, 88);
   border: solid 1px red;
   cursor:pointer;
   outline: none;
   border-radius: 25px;
   transition: .5s;
}

.buttons button:hover{
   background: #fff;

   body {margin:0;padding:0;}

   #hero {
   position:relative;
   }
   
   #hero video {
    height:100vh;
    width:100%;
    background-position:absolute;
    z-index:50;
    object-fit:cover;   
   }

   .logo {
      height: 60px;
   }

   *{
      margin: 0;
      padding: 0;
   }
   
   body{
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      background-image: url('6.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
   }
   
   ul{
      display: flex; list-style: none; text-align: center;
   }
   
   ul li{
      position: relative;
      display: block;
      color: #222;
      font-size: 35px;
      height: 90px;
      width: 90px;
      background: #c2c2c2;
      line-height: 90px;
      border-radius: 50%;
      margin: 18px;
      cursor: pointer;
      transition: 0.7s;
   }
   
   ul li::before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      transform: scale(0.8);
      z-index: -1;
      transition: 0.7s;
   }
   
   ul li:nth-child(1)::before{
      background: blue;
   }
   
   ul li:nth-child(2)::before{
      background: #1dace1;
   }
   
   ul li:nth-child(3)::before{
      background: #ed09cb;
   }
   
   ul li:nth-child(4)::before{
      background: #01b80d;
   }
   
   ul li:nth-child(5)::before{
      background: red;
   }
   
   ul li:hover::before{
      filter: blur(3px);
      transform: scale(1.2);
   }
   
   ul li:nth-child(1):hover::before{
      box-shadow: 0 0 35px blue;
   }
   
   ul li:nth-child(2):hover::before{
      box-shadow: 0 0 35px #1dace1;
   }
   
   ul li:nth-child(3):hover::before{
      box-shadow: 0 0 35px #ed09cb;
   }
   
   ul li:nth-child(4):hover::before{
      box-shadow: 0 0 35px #01b80d;
   }
   
   ul li:nth-child(5):hover::before{
      box-shadow: 0 0 35px red;
   }
   
   ul li:nth-child(1):hover{
      color: blue;
      box-shadow: 0 0 40px blue;
      text-shadow: 0 0 40px blue;
   }
   
   ul li:nth-child(2):hover{
      color: #1dace1;
      box-shadow: 0 0 40px #1dace1;
      text-shadow: 0 0 40px #1dace1;
   }
   
   ul li:nth-child(3):hover{
      color: #ed09cb;
      box-shadow: 0 0 40px #ed09cb;
      text-shadow: 0 0 40px #ed09cb;
   }
   
   ul li:nth-child(4):hover{
      color: #01b80d;
      box-shadow: 0 0 40px #01b80d;
      text-shadow: 0 0 40px #01b80d;
   }
   
   ul li:nth-child(5):hover{
      color: red;
      box-shadow: 0 0 40px red;
      text-shadow: 0 0 40px red;
   }
   





 


  


   